
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/img/20427.jpg');
    background-position: center;

}
main {
    flex-grow: 1;
}

.contenedorFecha {
    color: cyan;
    font-weight: bold;
}

.contenedorHora {
    color: cyan;
    font-weight: bold;
}

@media (max-width: 767px) {
    body {
        background-size: cover;
    }
}